/* Example custom styles */
.custom-button {
    background-color: #484444;
    color: #FAF3E0;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  body {
  
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      height: 100vh;
      background-color: #282424;
    
  }
  
  /* Add more custom styles as needed */
  